html *{
  font-family: 'Raleway', sans-serif;
}

.navbar{
  border-radius: 0px;
}

.get-started{
  background-color: #FFFFFF;
  height: 300px;
  width: 100%;
}

.about{
  background-color: #F5F5F5;
  height: 300px;
  width: 100%;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-size: 14px;
}

.wallstreet-bull{
 /* margin-top: -20px;
  margin-bottom: -25px;*/
  min-width: 100%;
  min-height: 1200px;
  /*background: url(2461095922_0d7d414a3e_o.jpg) no-repeat;*/
  background-size: cover; 
}

nav {
  margin-top: 0px;
}

#bgvid{
  width: 100%;
}